* {
    box-sizing: border-box;
}

#answersBox {
    display: none;
}

.answer {
    cursor: pointer;
    border: 1px solid black;
    font-size: 2em;
}

.answer:hover {
    background-color: black;
    color: white;
}

